section.rodape{
    display: flex;
    width: 100%;
    min-height: 400px;
    background-color: #101010;
}

.container-principal-rodape{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 40px;
    font-family: 'roboto';
    
}

.titulo-contatos{
    margin-bottom: 5px;
    font-size: 26px;
}

.contatos{
    margin-top: 5px;
    margin-bottom: 20px;
    color: #f7f7f7;
}

.dados-contato strong{
    font-size: 20px;
    font-weight: bolder;
}

.dados-contato p {
    font-size: 16px;
}

.imagem-principal{
    margin-top: 30px;
}

.imagem-principal img{
    width: 75px;
}

.titulo-rede-sociais{
    color: #f7f7f7;
    font-size: 26px;
    font-weight: bolder;
}

.icone-rede-sociais{
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo-facebook{
    width: 50px;
    margin-right: 5px;
}

.logo-whatsapp-rodape{
    width: 50px;
    margin-right: 5px;
}

.logo-instagram{
    width: 50px;
}

.w33{
    border-radius: 8px;
    border: 4px solid #FBA000;
    box-shadow: 0 0 3px white;
    position: absolute;
    margin-top: 40px;
    width: 35%;
    height: 35%;
    left: 50%;

}

.texto-map{
    margin-top: -30px;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #202020 !important;
}

@media screen and (max-width: 768px){
    
    section.rodape{
        display: block;
        min-height: 800px;
    }

    .contatos{
        width: 80%;
    }

    .w33{
        width: 80%;
        left: 10%;
    }
}