section.local{
    display: flex;
    width: 100%;
    min-height: 400px;
    background-color: #202020;
}
.restaurante{
    width: 100%;    
}
.container_restaurante{
    width: 100%;
    display: flex;
}

.titulo_restaurante{
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.titulo_restaurante img{
    width: 70px;
}

.titulo_restaurante h2{
    margin: auto 0;
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #B2B2B2;
}

.imagem_restaurante {
    position: relative;
    display: flex;
    width: 60%;
    margin-left: 30px;
    margin: 50px 0;
}

.imagem_restaurante img{
    border: 3px solid #FBAA00;
    margin-left: 2%;
    width: 45%;
}

.box_restaurante{
    position: relative;
    width: 35%;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-left: 2px solid #FBAA00;
    border-right: 2px solid #FBAA00;
    margin: auto 20px;
    padding: 20px 10px;
}

.box_restaurante p{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
    color: #ffc23f;
}

@media screen and (max-width: 768px) {
    
    .titulo_restaurante{
        margin: 10px 0;
        width: 100%;
    }
    
    .titulo_restaurante h2{
        font-size: 30px;
    }
    
    .container_restaurante{
        width: 100%;
        flex-direction: column;
    }
    
    .box_restaurante p{
        font-size: 18px;
    }
    
    .imagem_restaurante{
        width: 100%;
        margin:30% 0;
        flex-direction: column;
        align-items: center;
    }
    
    .imagem_restaurante img{
        width: 90%;
        margin: 10px 0
    }
    
    .box_restaurante{
        align-items: baseline;
        position: absolute;
        width: auto;
    }
    
}